/**
 * Use awesome syntax of `node-sass-magic-importer` to import scss modules
 * See import `dat-design` rule below for example.
 * If there's no file path specified after module name, it resolves to the file
 * defined by the imported package.json's `style` property
 *
 * More magic importer features:
 * https://github.com/maoberlehner/node-sass-magic-importer
 */

@import "~tachyons/css/tachyons.css";
@import "imports/base";
