// TODO: use dat-colors, remove sass variables. kriesse
$color-white: #FFFFFF;

$color-neutral: #293648;
$color-neutral--90: #394B5B;
$color-neutral--80: #505F6D;
$color-neutral--70: #65737F;
$color-neutral--60: #7C8792;
$color-neutral--50: #919BA4;
$color-neutral--40: #A7AFB6;
$color-neutral--30: #C3C9CD;
$color-neutral--20: #D3D7DB;
$color-neutral--14: #E0E3E5;
$color-neutral--10: #E9EBEC;
$color-neutral--04: #F6F7F8;

$color-green: #35B44F;
$color-green--hover: #24943A;
$color-green--darker: #147F26;
$color-green--disabled:#99D9A6;

$color-info: #2980B9;
$color-info--hover: #1B679A;
$color-info--darker: #0d4d84;
$color-info--disabled: #94BFDC;

$color-success: #159F84;
$color-success--hover: #0B856D;
$color-success--darker: #05654E;
$color-success--disabled: #8ACFC1;

$color-warning: #F0C30E;
$color-warning--hover: #C9A001;
$color-warning--darker: #C38D00;
$color-warning--disabled: #f7E186;

$color-danger: #D8524E;
$color-danger--hover: #B33C38;
$color-danger--darker: #A52724;
$color-danger--disabled: #EBA8A6;


.color-neutral-30 {
  color: var(--color-neutral-30);
}
.color-info {
  color: var(--color-info);
}
.color-info-disabled {
  color: var(--color-info-disabled);
}
.color-green {
  color: var(--color-green);
}
.color-green-disabled {
  color: var(--color-green-disabled);
}

body {
  min-width: 480px;
  line-height: 1.5;
}

body, input, textarea, select, button {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

// nativize for electron desktop feel

html {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

img {
  -webkit-user-drag: none;
}

.is-selectable {
  -webkit-user-select: auto;
  cursor: auto;
}

.f7 {
  font-size: .75rem;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
