// example:
// <div class="dat-import">
//   <div class="dat-import--icon">
//     <img src="./public/img/link.svg" />
//   </div>
//   <input type="text" readonly="true" value="" id="share-link" data-intro="" class="dat-import--input">
// </div>

// dat-import

$input-height: 2rem;
$icon-height: 1.2rem;

.dat-import {
  position: relative;
  display: inline-block;
  &:hover {
    .dat-import--input::-webkit-input-placeholder {
      color: $color-white;
    }
    .dat-import--icon {
      fill: $color-white;
    }
  }
}

.dat-import--input {
  height: $input-height;
  width: 6.75rem;
  padding-right: .5rem;
  padding-left: 2rem;
  font-size: .75rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: $color-neutral--30;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: .025em;
  transition-property: width;
  transition-duration: .15s;
  transition-timing-function: ease-in;
  &::-webkit-input-placeholder {
    color: $color-neutral--30;
    opacity: 1;
  }
  .dat-import &:focus, &:active {
    width: 14rem;
    outline: none;
    background-color: $color-white;
    color: $color-neutral;
    &::-webkit-input-placeholder {
      color: $color-neutral--30;
    }
  }
}

.dat-import--icon {
  $icon-height: 1.2rem;
  position: absolute;
  top: calc(#{$input-height} / 2 - #{$icon-height} / 2);
  left: .5rem;
  pointer-events: none;
  display: block;
  width: $icon-height;
  height: $icon-height;
  fill: $color-neutral--30;
}
