// dat-button

.btn__icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  svg {
    width: 1.1em;
    max-height: 1.6em;
  }
}

.btn__icon-text {
  margin-left: .5em;
}


// action buttons in top bar (header)
.header-action {
  color: $color-neutral--20;
  svg {
    fill: $color-neutral--40;
  }
  &:hover, &:focus {
    color: $color-white;
    svg {
      fill: $color-neutral--20;
    }
  }
}

.header-action--add {
  float: left;
  margin-right: 3rem;
  button {
    &:hover, &:focus, &:active {
      color: $color-neutral--04;
      outline: none;
      cursor: pointer;
    }
  }
}

// icon-only buttons at end of dat row
.row-action {
  cursor: pointer;
  svg {
    fill: $color-neutral--60;
  }
  &:hover, &:focus {
    outline: none;
    svg {
      fill: $color-neutral;
    }
  }
}
