// dat-import

.dat-import {
  float: left;
  position: relative;
  padding-top: .5rem;
}

// we need an extra element + wrapper div for the icon, as we can't have pseude-elements on input elements
.dat-import--icon {
  position: absolute;
  top: calc(2rem - (.625rem / 2));
  left: 1rem;
  pointer-events: none;
  img {
    display: block;
    width: 1.25rem;
    height: .625rem;
  }
}

.dat-import--input {
  height: 3rem;
  padding-right: 1rem;
  padding-left: 3rem;
  border-radius: 2px;
  border: none;
  &:hover, &:focus, &:active {
    outline: none;
  }
}
