// icon-only buttons at end of dat row
.row-action {
  height: 2rem;
  display: inline-block;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: $color-neutral--20;
  svg {
    fill: currentColor;
    vertical-align: middle;
    width: 1.1em;
    max-height: 1.6em;
  }
  &:hover, &:focus {
    outline: none;
    color: $color-neutral--50;
  }
}
