
// table

.table {
  width: 100%;
}

th, td {
  padding-right: .75rem;
  padding-left: .75rem;
  font-size: .875rem;
}

.table-header {
  th {
    height: 4rem;
    font-size: .8125rem;
    font-weight: normal;
    color: $color-neutral--60;
    &:first-child {
      width: 3rem;
      padding: 0;
    }
    &:last-child {
      width: 8.25rem;
    }
    &:not(:first-child) {
      border-bottom: 1px solid $color-neutral--20;
    }
  }
}

.table-item {
  td {
    height: 4rem;
    vertical-align: middle;
    padding-top: 1rem;
  }
  &:hover {
    td {
      background-color: $color-neutral--04;
    }
  }
}

.cell-1 {
  width: 5rem;
}
.cell-2 {
  width: 17rem;
}
.cell-3 {
  width: 15rem;
}
.cell-4 {
  width: 5.5rem;
}
.cell-5 {
  width: 6rem;
}
.cell-6 {
  width: 10.25rem;
}

// truncate dat link
.cell-truncate {
  width: 26vw; // TODO kriesse: make this scale up at medium breakpoint
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
