dist: trusty
language: node_js
node_js:
  - 8
  
os:
  - osx
  - linux
addons:
  apt:
    packages:
      - icnsutils
      - graphicsmagick
      - xz-utils
      - xvfb
env:
  - DISPLAY=":99.0"
install:
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install
deploy:
  provider: script
  script: npm run dist
  on:
    branch: master
  skip_cleanup: true
notifications:
  irc:
    channels:
      - "chat.freenode.net#datbots"
    template:
      - "%{repository_slug} - %{commit_subject} - %{result} - %{build_url}"
    skip_join: true
    on_success: change
    on_failure: always
