dist: trusty
cache: bundler
sudo: false

language: node_js
node_js:
  - 12.4

os:
  - osx
  - linux

notifications:
  email: false

addons:
  apt:
    packages:
      - icnsutils
      - graphicsmagick
      - xz-utils
      - xvfb

env:
  - DISPLAY=":99.0"

install:
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install
  - npm run build:prod

deploy:
  provider: script
  script: npm run dist:publish
  on:
    branch: master
  skip_cleanup: true
