.color-neutral {
  color: var(--color-neutral);
}
.color-neutral-90 {
  color: var(--color-neutral-90);
}
.color-neutral-80 {
  color: var(--color-neutral-80);
}
.color-neutral-70 {
  color: var(--color-neutral-70);
}
.color-neutral-60 {
  color: var(--color-neutral-60);
}
.color-neutral-50 {
  color: var(--color-neutral-50);
}
.color-neutral-40 {
  color: var(--color-neutral-40);
}
.color-neutral-30 {
  color: var(--color-neutral-30);
}
.color-neutral-20 {
  color: var(--color-neutral-20);
}
.color-neutral-14 {
  color: var(--color-neutral-14);
}
.color-neutral-10 {
  color: var(--color-neutral-10);
}
.color-neutral-04 {
  color: var(--color-neutral-04);
}

.color-green {
  color: var(--color-green);
}
.color-green-hover {
  color: var(--color-green-hover);
}
.color-green-darker {
  color: var(--color-green-darker);
}
.color-green-disabled {
  color: var(--color-green-disabled);
}

.color-blue {
  color: var(--color-blue);
}
.color-blue-hover {
  color: var(--color-blue-hover);
}
.color-blue-darker {
  color: var(--color-blue-darker);
}
.color-blue-disabled {
  color: var(--color-blue-disabled);
}

.color-mint {
  color: var(--color-mint);
}
.color-mint-hover {
  color: var(--color-mint-hover);
}
.color-mint-darker {
  color: var(--color-mint-darker);
}
.color-mint-disabled {
  color: var(--color-mint-disabled);
}

.color-yellow {
  color: var(--color-yellow);
}
.color-yellow-hover {
  color: var(--color-yellow-hover);
}
.color-yellow-darker {
  color: var(--color-yellow-darker);
}
.color-yellow-disabled {
  color: var(--color-yellow-disabled);
}

.color-red {
  color: var(--color-red);
}
.color-red-hover {
  color: var(--color-red-hover);
}
.color-red-darker {
  color: var(--color-red-darker);
}
.color-red-disabled {
  color: var(--color-red-disabled);
}
